.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movie-search {
  margin-bottom: 25px;
  height: 30px;
  width: 350px;
  font-size: 25px;
  font-weight: bold;
}

.Movie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.Movie-wrapper {
  background-color: white;
  width: 500px;
  color: white;
  border: 50px;
  border-radius: 20px;
  background-color: black;
}

.Movie-title {
  height: 60px;
}

.Container {
  height: 500px;
}

.Popular {
  align-self: start;
}
